<!DOCTYPE html>
<html>

<body>
    <p>
        <strong>Hello {{old.givenName}} {{old.familyName}}</strong>
    </p>
    <p>This is just a friendly e-mail to let you know that someone has changed your account details. Here are the relevant bits:</p>
    <table border="1">
        <tr>
            <th></th>
            <th>Old Info</th>
            <th>New Info</th>
        </tr>
        <tr>
            <td>E-Mail Address</td>
            <td>{{old.email}}</td>
            <td>{{new.email}}</td>
        </tr>
    </table>

    <ul>
        <li>If you were the one who made these changes, please disregard this e-mail</li>
        <li>if you did not make these changes we suggest you do the following:
            <ol>
                <li>Click
                    <a href="{{ui_base}}:4001/user/recover?code={{token}}">this link to change your password</a></li>
                <li>Change your password (you should use a different password than your previous one)</li>
                <li>Verify the information on your account and update your profile</li>
            </ol>
        </li>
    </ul>
</body>

</html>