<!DOCTYPE html>
<html>
    <body>
        <p>
            <strong>Hello {{invitation.givenName}}!</strong>
        </p>
        <p>
            {{sender}} has invited you to join the UHX community. Your wallet is ready, all you have to do is claim it by clicking the
            link below:
        </p>
        <p>
            <a href="{{claimUrl}}?code={{claimToken}}.{{claimSig}}">Setup My UHX Wallet!</a>
        </p>
        <p>
            Once you click on this link you'll be asked to finish setting up your wallet! You have to hurry though, this link <strong>expires in 7 days!</strong>
        </p>
        <p>
            Sincerely,
            <br/> The UHX Team
        </p>
    </body>
</html>