<!DOCTYPE html>
<html>
    <body>
        <p><string>Hello {{user.name}}!</string></p>
        <p>Seems like you forgot your password, that's alright, it happens to everyone! You can click the link below to be taken to the reset password page:</p>
        <blockquote>
            <a href="{{ui_base}}/user/reset?code={{token}}">Reset my password now</a>
        </blockquote>
        <p>If you didn't ask for a password reset then please log in with your current password to cancel this reset request.</p>
    </body>
</html>