<!DOCTYPE html>
<html>
    <body>
        <p><strong>Hello {{user.givenName}},</strong></p>
        <p>
            Thanks for setting up your UHX wallet. We're excited to have you join the Universal Healthcoin community!
            Here are some resources to help you stay connected:
        </p>
        <p>Visit our blog: <br /><a href="https://www.universalhealthcoin.com/blog/">https://uhx.io/blog/</a></p>
        <p>Follow our Telegram feed: <br /><a href="https://t.me/universalhealthcoinx">https://t.me/universalhealthcoinx</a></p>
    </body>
</html>

